colorama
requests
datetime
useragent
pyfiglet
instaloader
bs4
googlesearch-python
random2==1.0.1
google==3.0.0
ipaddress==1.0.11.
Faker==5.0.0
urllib3==2.0.5
cloudscraper==1.2.71
beautifulsoup4
rich
inquirer
fake_useragent
pystyle
scapy
asyncio
truecallerpy
